* {font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.producto1{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 100px;
    border: solid black 1px;
    height: 150px;
    width: 85%;
   
}

.producto{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 100px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    height: 150px;
    width: 85%;
   
}



.nombreProducto{
    position: relative;
    bottom: 20px;
}

.descripcion{
    position: relative;
    bottom: 20px;
}

.img  {
    width:200px;
    height:130px;
}

.imgInfo {
    display: flex;
    gap: 25px;
    position: relative;
    top: 8px;
}

.infoPorducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.fieldsetCantidad {
    border: none;
    position: relative;
    top: 35px;
}

.inputCantidad {
    width:100px;
    height:40px;
}

.precio{
    border: 2px lightgrey double;
    width:110px;
    height:50px;
    text-align: center;
    position: relative;
    top: 40px;
}
.textoPrecio{
    position: relative;
    right: 2px;
}

.botonEliminar{
    border: none;
    color: rgb(71, 70, 70);
    height: 30px;
    font-size: 30px;
    background-color: white;
    position: relative;
    top: 50px;
}

.botonEliminar:hover{
    color: black;
}

/* -------  Finalizar pedido  -------*/

.none{
    display: none;
}

.fieldset {
    border: 0;
}

.sectionFinal{
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    position: relative;
    left: 100px;
    bottom: 20px;
    width: 85%;
    height: 500px;
    
}

.tituloFinal {
    border-bottom: solid black 1px;
    background-color: lightgrey;
    height: 50px;
}

.tituloFinalTexto{
    position: relative;
    top: 9px;
    margin-left: 10px;
}

.envioTotal{
 margin-left: 20px;
 font-size: 20px;
 font-weight: bolder;
}

.envio{
    margin-left: 10px;
   
}

.input{
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    border: 2px solid grey ;
    width: 60%;
    font-weight: 500;
}

.botonActualizar{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 8px;
    border: 2px solid grey ;
    background-color: #f8edd6;
}

.botonActualizar:hover{
    background-color: #fca998;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-right: 555px;
    margin-top: 10px ;
    margin-bottom: 10px;
    border: solid 1px black;
    position: relative;
    left: 20px;
    border-radius: 8pxgit;
}

.precioTotal{
    margin-right: 50px;
    position: relative;
    top: 7px;
    
}

.botonFinal{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 8px;
    border: 2px solid grey ;
    background-color: #f8edd6;
    position: relative;
    left: 500px;
    top: 10px;
    margin-left: 10px ;
}

.botonFinal:hover{
    background-color: #fca998;
}

.tituloRecomendado{
    position: relative;
    left: 1050px;
    bottom: 465px;
}

.imgRecomendada{
    position: relative;
    left: 1090px;
    bottom: 465px;
}

.botonAgregar{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 8px;
    border: 2px solid grey ;
    background-color: #f8edd6;
    position: relative;
    left: 965px;
    bottom: 440px;
}

.botonAgregar:hover{
    background-color: #fca998;
}