* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 500px;
}

.lamina {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 155, 135, 0.7);
  margin: 10px;
  border-radius: 24px;
  padding: 50px;
}

.lamina-cajas {
  text-align: center;
  margin: 50px;
}

.lamina-icono {
  color: #fff9ed;
  font-size: 60px;
  border: 4px solid #fff9ed;
  border-radius: 50%;
  padding: 30px;
}

.lamina-texto {
  color: #fff9ed;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
}

.lamina-texto2 {
  color: #fff9ed;
  margin: 10px;
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9ed;
}

header {
  padding-bottom: 200px;
  background-color: #58dab4;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #58dab4;
  border-radius: 24px;
  justify-content: space-around;
  position: relative;
}

.video-conocenos {
  margin: 30px;
  text-align: center;
}

.frase-producto-regalo {
  color: #fff9ed;
  text-align: center;
  margin: 30px;
}

.icono-regalo {
  font-size: 45px;
  color: #fff9ed;
  margin-right: 30px;
}

.icono-regalo:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.probá-maines {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pedí-acá {
  color: #fff9ed;
  margin-left: 70px;
}

.gratis {
  font-weight: bold; /* le pongo esto pero en realidad es para tener diferenciada la palabra 
    por si queremos agregarle alguna animacion o algo distinto a "gratis"*/
}

.icono-puerta {
  font-size: 45px;
  color: #fff9ed;
  margin-right: 30px;
}

.sumate-a-maines {
  color: #fff9ed;
  text-align: center;
  margin: 30px;
}

.sumate-a-maines-texto {
  margin-bottom: 15px;
}

.icono-cv {
  font-size: 15px;
  margin-right: 10px;
}

.dejar-cv {
  margin-bottom: 10px;
  margin-left: 60px;
}

.vender-productos {
  margin-bottom: 30px;
  margin-left: 60px;
}

.icono-dinero {
  font-size: 15px;
  margin-right: 10px;
}

.carrito {
  font-size: 45px;
  color: #fff9ed;
  margin-right: 30px;
}

.adquirí-nuestros-productos {
  color: #fff9ed;
  text-align: center;
  margin-bottom: 60px;
}

.adquirí-texto {
  margin-bottom: 15px;
}

.local {
  font-size: 15px;
  margin-right: 10px;
}

.buscá-tu-local {
  margin-bottom: 10px;
  margin-left: 80px;
}

.tarjeta {
  font-size: 15px;
  margin-right: 10px;
}

.comprá-online {
  margin-left: 70px;
}

.titulo {
  font-size: 26px;
  text-align: center;
  margin: 50px;
}

.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo-producto {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.producto {
  margin: 30px;
  transition: box-shadow 0.25s;
}

.producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.caja-texto-producto {
  position: relative;
  border: 7px solid rgba(100, 100, 100, 0.15);
}

.camion {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  color: #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 300px;
  transition: transform 0.5s;
}

.camion:hover {
  transform: rotateZ(-90deg);
}

.preciosYdescuentos {
  margin: 10px;
}

.descripciones {
  max-width: 350px;
  word-wrap: break-word;
  height: auto;
  margin: 20px;
}

footer {
  padding: 100px;
  background-color: #58dab4;
  border: 7px solid rgba(100, 100, 100, 0.15);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.mapa {
  max-width: 0%;
}

.redes-sociales i {
  text-decoration: none;
}
.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 1em;
}

.servicios li {
  margin: 0.5em 0.5em;
}

.contacto p {
  font-weight: 900;
}

.contacto dt {
  margin: 0.5em 0.5em;
}

.slogan {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.redes-sociales {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1200px) {
  .lamina {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 150px 150px 30px;
    row-gap: 50px;
    margin: 100px 10px;
    background-color: #58dab4;
  }

  .frase-producto-regalo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
  }

  .sumate-a-maines {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    color: #fff9ed;
    margin-bottom: 10px;
  }

  .adquirí-nuestros-productos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: start;
    color: #fff9ed;
    margin-top: 20px;
  }

  .container-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .titulo-producto {
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
  }
}
