main{
  display:flex;
  flex-direction:column;
  align-items:center
}

.logo {
  height: 150px;
  margin-top: 30px;
}

.formInicioSesion {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  width: 30em;
  height: 25em;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelLogin {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
}

.inputLogin {
  width: 400px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.olvidasteContra {
  color: black;
  margin-right: 210px;
}

.botonLogin {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  background-color: #3483fa;
  border-color: transparent;
  border-radius: 8px;
  color: #fff;
  width: 280px;
  height: 50px;
  transition: all 200ms;
}

.botonLogin:hover {
  background-color: #06439e;
}

.crearCuenta {
  display: flex;
  color: black;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contacto {
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .contenedor-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .mapa {
    max-width: 30%;
  }
  .servicios {
    margin-right: 1.5em;
  }
}
