<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/carrito.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap" rel="stylesheet">
</head>
<body>
    
    <section class="producto">
        
        
        <div class="imgInfo">

            <img class="img" src="/images/bocaa.jpg" alt="producto">

        <div class="infoProducto">
            <h2 class="nombreProducto">Producto</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> 
                Etiam auctor pulvinar risus, in convallis nisi rhoncus vel.</p>
        </div>

        </div>

        <fieldset class="fieldsetCantidad">
            <label for="cantidad"></label>
            <input class="inputCantidad" name="cantidad" id="cantidad" type="number" min="1" max="10" placeholder="Cantidad" required>
        </fieldset>
        
        <div class="precio"> 
            <p class="textoPrecio">$160</p>
        </div>

        <button name="cantidad" type="reset" class="botonEliminar"><i class="fas fa-times"></i></button>
        
    </section>
    

    
</body>
</html>