<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maines</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/detalleProducto.css" />

<body>

    <header>

    </header>

    <picture class ="logoPicture">

        <img src="/images/LogoMaines.svg" class="logo" />

    </picture>
    
    <h2> <i class="fas fa-chevron-circle-left"></i> Volver a la tienda</h2>
    <main>
        
        <section class= "sectionFotos"> 
            <picture>
                <img
                src="/images/ensalada-salmon.jpeg"
                width="350"
                height="350"
                alt="logo"
                />
            </picture>
            
            <div>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                
            </div>
        </section>   
        <section>
            <h2 class= "nombreProducto">Ensalada de Verano</h2>
            
            <p class= "descripcion">lorem ipsum dolor sit amet, consectetur adipisicing lorem ipsum dolor sit amet lorem ipsum dolor lorem ipsum lorem ipsum</p>
            <p class="precio">$300</p>
            <div class="divDescripcion">
                <form action='/' method="post">
                    <fieldset>
                        <label class= "negrita">Cantidad</label>
                        <input type="number" name="cantidad">
                        
                        <button class="botones" type="submit">Agregar al carrito</button>
                        
                    </div>
                    
                    
                </section>         
            </main>
            <footer>
                <section class="logo-slogan">
                  <picture>
                    <img src="/images/maines.png" alt="logo" class="logo" />
                  </picture>
                  <article class="slogan">Somos lo que comemos</article>
                </section>
                <section class="redes-sociales">
                  <a href="https://www.facebook.com/Maines-105529098679983/">
                    <i class="fab fa-facebook"></i>
                  </a>
                  <a href="https://www.instagram.com/maines.com.ar/">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UC-_zZ-_zZ-_zZzQ-_XKZq5g">
                    <i class="fab fa-facebook-messenger"></i>
                  </a>
                </section>
            
                <section class="mapa">Mapa con ubicaciones
                  <picture>
                    <img src="images/googlemaps.jpg" alt="mapa" />
                  </picture>
                </section>
                <section class="servicios">
                  <ul>
                    <li>Terminos y condiciones</li>
                    <li>Envios y devoluciones</li>
                    <li>Política de privacidad</li>
                    <li>Quiero vender Maines</li>
                  </ul>
                </section>
                <section class="contacto">
                  <dl>
                    <p></i>Contacto</p>
                    <dt> <i class="fas fa-phone-alt"> </i>+ 11 1234 1234</dt>
                    <dt> <i class="fas fa-envelope"> </i>consultas@maines.com.ar</dt>
                    <dt> <i class="fas fa-clock"> </i>Lunes a viernes 09:00 a 18:00hs</dt>
                    <dt> <i class="fas fa-map-marker-alt"> </i>Calle falsa 123, CABA</dt>
                  </dl>
                </section>
              </footer>
        </body>
        </html>
