<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maines</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/detalleProducto.css" />

<body>

    <header>

    </header>

    <picture class ="logoPicture">

        <img src="/images/LogoMaines.svg" class="logo" />

    </picture>
    
    <h2> <i class="fas fa-chevron-circle-left"></i> Volver a la tienda</h2>
    <main>
        
        <section class= "sectionFotos"> 
            <picture>
                <img
                src="/images/ensalada-salmon.jpeg"
                width="350"
                height="350"
                alt="logo"
                />
            </picture>
            
            <div>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                <picture>
                    <img
                    src="/images/ensalada-salmon.jpeg"
                    width="350"
                    height="350"
                    alt="logo"
                    />
                </picture>
                
            </div>
        </section>   
        <section>
            <h2 class= "nombreProducto">Ensalada de Verano</h2>
            
            <p class= "descripcion">lorem ipsum dolor sit amet, consectetur adipisicing lorem ipsum dolor sit amet lorem ipsum dolor lorem ipsum lorem ipsum</p>
            <p class="precio">$300</p>
            <div class="divDescripcion">
                <form action='/' method="post">
                    <fieldset>
                        <label class= "negrita">Cantidad</label>
                        <input type="number" name="cantidad">
                        
                        <button class="botones" type="submit">Agregar al carrito</button>
                        
                    </div>
                    
                    
                </section>         
            </main>
            <footer>

            </footer>
        </body>
        </html>
