<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maines</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        header 
    </header> 
    
    <img src = "/images/banner-meli.jpg" class = "banner">
    
    <article class="lamina">
        <h2><i class="fas fa-gift icono-regalo"></i>Entregas a todo el pais</h2>
        <h2><i class="fas fa-gift icono-regalo"></i>Comprá con todas las formas de pago</h2>
        <h2><i class="fas fa-gift icono-regalo"></i>Consultanos lo que quieras cuando quieras</h2>
        <h2><i class="fas fa-gift icono-regalo"></i>Suscribite y conseguí los mejores descuentos</h2>
    </article>
    
    <article class="container">
        
        <article class="video-conocenos">
            <h3 class="conocenos">Conocenos!</h3>
            <video width="500" height="500" controls>
                <source src="/images/video-maines.mp4" type="video/mp4">
            </video>
        </article>
        
        <article class="frase-producto-regalo">
            <div><i class="fas fa-gift icono-regalo"></i>¡Probá Maines <span class="gratis">gratis</span>! Pedí aca tu primer producto de regalo y sin costo de envío
            </div>
        </article>
        
        <article class="sumate-a-maines">
            <h3 class="sumate-a-maines-texto"><i class="fas fa-door-open icono-puerta"></i>¡Sumate a Maines! Trabaja junto a nosotros</h3>
            <h4 class="dejar-cv"><i class="far fa-file icono-cv"></i>Quiero dejar mi CV</h4>
            <h4 class="vender-productos"> <i class="fas fa-dollar-sign icono-dinero"></i>Quiero vender productos Maines</h4>
        </article>
        
        <article class="adquirí-nuestros-productos">
            <h3 class="adquirí-texto"><i class="fas fa-shopping-cart carrito"></i>¡Adquirí nuestros productos!</h3>
            <h4 class="buscá-tu-local"><i class="fas fa-store-alt local"></i>Buscá tu local mas cercano</h4>
            <h4 class="comprá-online"><i class="fas fa-credit-card tarjeta"></i>Comprá online</h4>
        </article>
        
    </article>
    
    <h2 class="titulo">Productos</h2>
    
    <article class="container-productos">
        
        <article class="producto">
            <ul class="titulo-producto"><b>Cafetera Moulinex</b></ul>
            <ul class="caja-texto-producto" style="list-style: none">
                <img src="/images/maines.png" width="350" height="350" alt="logo">    
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% OFF</li>
                </div>
                <li class="descripciones">loremIpsumloremIpsumloremIpsumloremIpsumloremIpsumloremIpsum
                </li>
            </ul>
        </article>
        
        <article class="producto">
            <ul class="titulo-producto"><b>Cafetera Moulinex</b></ul>
            <ul class="caja-texto-producto" style="list-style: none">
                <img src="/images/maines.png" width="350" height="350" alt="logo">    
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% OFF</li>
                </div>
                <li class="descripciones">loremIpsumloremIpsumloremIpsumloremIpsumloremIpsumloremIpsum </li>
            </ul>
        </article>
        
        <article class="producto">
            <ul class="titulo-producto"><b>Cafetera Moulinex</b></ul>
            <ul class="caja-texto-producto" style="list-style: none">
                <img src="/images/maines.png" width="350" height="350" alt="logo">    
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% OFF</li>
                </div>
                <li class="descripciones">loremIpsumloremIpsumloremIpsumloremIpsumloremIpsumloremIpsum </li>
            </ul>
        </article>
        <article class="producto">
            <ul class="titulo-producto"><b>Cafetera Moulinex</b></ul>
            <ul class="caja-texto-producto" style="list-style: none">
                <img src="/images/maines.png" width="350" height="350" alt="logo">    
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% OFF</li>
                </div>
                <li class="descripciones">loremIpsumloremIpsumloremIpsumloremIpsumloremIpsumloremIpsum </li>
            </ul>
        </article>
        
    </article>
    
    <footer>
        footer
    </footer>
    
</body></html>