<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maines</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>

      header

    </header>

    <img src="/images/LogoMaines.svg" class="banner" />

    <article class="lamina">
      <article class="lamina-cajas"> <a href="/entregas">
        <i class="fas fa-truck lamina-icono"></i></a>
        <p class="lamina-texto">Entregas</p>
        <p class="lamina-texto2">A todo el pais</p>
      
      </article>
      <article class="lamina-cajas">
        <a href="/compras">
        <i class="fas fa-shopping-basket lamina-icono"></i></a>
        <p class="lamina-texto">Comprá</p>
        <p class="lamina-texto2">Con todos los medios de pago</p>
      </article>
      <article class="lamina-cajas">
        <a href="/ayuda">
        <i class="fab fa-whatsapp lamina-icono"></i></a>
        <p class="lamina-texto">Consultanos</p>
        <p class="lamina-texto2">Lo que quieras cuando quieras</p>
      </article>
      <article class="lamina-cajas">
        <a href="/suscripciones">
        <i class="fas fa-tags lamina-icono"></i></a>
        <p class="lamina-texto">Suscribite</p>
        <p class="lamina-texto2">Y conseguí los mejores descuentos</p>
      </article>
    </article>
    <article class="container">
      <article class="video-conocenos">
        <h3 class="conocenos">Conocenos!</h3>
        <video width="500" height="500" controls>
          <source src="/images/video-maines.mp4" type="video/mp4" />
        </video>
      </article>

      <article class="frase-producto-regalo">
        <div class="probá-maines">
          <i class="fas fa-gift icono-regalo"></i>¡Probá Maines
          <span class="gratis">gratis</span>!
        </div>
        <div class="pedí-acá">
          Pedí aca tu primer producto de regalo y sin costo de envío
        </div>
      </article>

      <article class="sumate-a-maines">
        <h3 class="sumate-a-maines-texto">
          <i class="fas fa-door-open icono-puerta"></i>¡Sumate a Maines! Trabaja
          junto a nosotros
        </h3>
        <ul class="dejar-cv"> 
          <i class="far fa-file icono-cv"></i>
          Quiero dejar mi CV
          <div>
          <input type="file" name="cv" id="cv" class="seleccionarArchivo">
        </div>
        </ul>
        <ul class="vender-productos">
          <i class="fas fa-dollar-sign icono-dinero"></i
          >Quiero vender productos Maines
        </ul>
      </article>

      <article class="adquirí-nuestros-productos">
        <h3 class="adquirí-texto">
          <i class="fas fa-shopping-cart carrito"></i>¡Adquirí nuestros
          productos!
        </h3>
        <h4 class="buscá-tu-local">
          <i class="fas fa-store-alt local"></i>Buscá tu local mas cercano
        </h4>
        <h4 class="comprá-online">
          <i class="fas fa-credit-card tarjeta"></i>Comprá online
        </h4>
      </article>
    </article>

    <h2 class="titulo">Productos</h2>

    <article class="container-productos">
      <article class="producto">
        <ul class="titulo-producto">
          <b>Ensalada de Salmón</b>
        </ul>
        <ul class="caja-texto-producto" style="list-style: none">
          <img
            src="/images/ensalada-salmon.jpeg"
            width="350"
            height="350"
            alt="logo"
          />
          <i class="fas fa-truck camion"></i>
          <div class="preciosYdescuentos">
            <li class="precios">$449 por unidad</li>
          </div>
          <li class="descripciones">¡Producto Nuevo!</li>
          <li></li>
        </ul>
      </article>

      <article class="producto">
        <ul class="titulo-producto">
          <b>Ensalada Primavera</b>
        </ul>
        <ul class="caja-texto-producto" style="list-style: none">
          <img
            src="/images/ensalada-primavera.jpeg"
            width="350"
            height="350"
            alt="logo"
          />
          <i class="fas fa-truck camion"></i>
          <div class="preciosYdescuentos">
            <li class="precios">$339 por unidad</li>
          </div>
          <li class="descripciones">
            ¡La mejor ensalada para la mejor temporada!
          </li>
        </ul>
      </article>

      <article class="producto">
        <ul class="titulo-producto">
          <b>Pan Negro</b>
        </ul>
        <ul class="caja-texto-producto" style="list-style: none">
          <img
            src="/images/pan-negro.jpeg"
            width="350"
            height="350"
            alt="logo"
          />
          <i class="fas fa-truck camion"></i>
          <div class="preciosYdescuentos">
            <li class="precios">$50 por unidad</li>
          </div>
          <li class="descripciones">100% salvado, 0% grasas trans</li>
        </ul>
      </article>
      <article class="producto">
        <ul class="titulo-producto">
          <b>Tarta de Verdura</b>
        </ul>
        <ul class="caja-texto-producto" style="list-style: none">
          <img
            src="/images/tarta-verdura.jpeg"
            width="350"
            height="350"
            alt="logo"
          />
          <i class="fas fa-truck camion"></i>
          <div class="preciosYdescuentos">
            <li class="precios">$449 por unidad</li>
          </div>
          <li class="descripciones">¡2x1 por tiempo limitado!</li>
        </ul>
      </article>
    </article>

    <footer>
      <section class="logo-slogan">
        <picture>
          <img src="/images/maines.png" alt="logo" class="logo" />
        </picture>
        <article class="slogan">Somos lo que comemos</article>
      </section>
      <section class="redes-sociales">
        <a href="https://www.facebook.com/Maines-105529098679983/">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/maines.com.ar/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC-_zZ-_zZ-_zZzQ-_XKZq5g">
          <i class="fab fa-facebook-messenger"></i>
        </a>
      </section>
  
      <section class="mapa">Mapa con ubicaciones
        <picture>
          <img src="images/googlemaps.jpg" alt="mapa" />
        </picture>
      </section>
      <section class="servicios">
        <ul>
          <li>Terminos y condiciones</li>
          <li>Envios y devoluciones</li>
          <li>Política de privacidad</li>
          <li>Quiero vender Maines</li>
        </ul>
      </section>
      <section class="contacto">
        <dl>
          <p></i>Contacto</p>
          <dt> <i class="fas fa-phone-alt"> </i>+ 11 1234 1234</dt>
          <dt> <i class="fas fa-envelope"> </i>consultas@maines.com.ar</dt>
          <dt> <i class="fas fa-clock"> </i>Lunes a viernes 09:00 a 18:00hs</dt>
          <dt> <i class="fas fa-map-marker-alt"> </i>Calle falsa 123, CABA</dt>
        </dl>
      </section>
    </footer>
  </body>
</html>
