<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/home.css" />
   
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <picture class="picture">
        <a href="/"> <img src="/images/LogoMaines.svg" altclass="logo" class="logo"/></a>
      </picture>

      <form class="formInicioSesion" action="/" method="post">
        <fieldset>
          <label class="labelLogin" for="nombreUsuario"
            >Nombre de Usuario</label
          >
          <input
            class="inputLogin"
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            required
          />
        </fieldset>

        <fieldset>
          <label class="labelLogin" for="nombreUsuario">Contraseña</label>
          <input
            class="inputLogin"
            type="password"
            name="nombreUsuario"
            id="nombreUsuario"
            required
          />
        </fieldset>

        <div class="olvidasteContra">
          <a href="#" target="_blank">¿Olivdaste tu contraseña?</a>
        </div>

        <button class="botonLogin" type="submit">Iniciar Sesión</button>

        <div class="crearCuenta">
          <p>¿No tenes cuenta?</p>
          <a href="/register">Crea una cuenta</a>
        </div>
      </form>
    </main>
    <footer>
        <section class="contenedor-footer">
            <section class="logo-slogan-redes" class="caja-footer">
              <picture>
                <img src="/images/maines.png" alt="logo" class="logo" />
              </picture>
              <article class="slogan">Somos lo que comemos</article>
            
            <section class="redes-sociales">
              <a href="https://www.facebook.com/Maines-105529098679983/">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/maines.com.ar/">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.youtube.com/channel/UC-_zZ-_zZ-_zZzQ-_XKZq5g">
                <i class="fab fa-facebook-messenger"></i>
              </a>
            </section>
          </section>
        <section class="direccion" class="caja-footer">
            <article>Mapa con ubicaciones</article>
              <picture>
                <img src="images/maps.svg" alt="mapa" class="mapa"/>
              </picture>
            </section>
      
            <section class="servicios" class="caja-footer">
              <ul>
                <li>Terminos y condiciones</li>
                <li>Envios y devoluciones</li>
                <li>Política de privacidad</li>
                <li>Quiero vender Maines</li>
              </ul>
            </section>
            <section class="contacto" class="caja-footer">
              <dl>
                <p></i>Contacto</p>
                <dt> <i class="fas fa-phone-alt"> </i>+ 11 1234 1234</dt>
                <dt> <i class="fas fa-envelope"> </i>consultas@maines.com.ar</dt>
                <dt> <i class="fas fa-clock"> </i>Lunes a viernes 09:00 a 18:00hs</dt>
                <dt> <i class="fas fa-map-marker-alt"> </i>Calle falsa 123, CABA</dt>
              </dl>
            </section>
          </section>
    </footer>
  </body>
</html>
