<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maines</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<header>
header
</header> 

<article class="container">

    <article class="item-a">
    <h3 class="conocenos">Conocenos! (video)</h3>
    <img src="/images/maines.png" width="450" height="450" alt="logo">
    </article>

    <article class="item-b">
    <div><i class="fas fa-gift regalo"></i>¡Probá Maines <span class="gratis">gratis</span>! Pedí aca tu primer producto de regalo y sin costo de envío
    </div>
    </article>

    <article class="item-c">
    <h3><i class="fas fa-door-open puerta"></i>¡Sumate a Maines! Trabaja junto a nosotros</h3>
    <h4 class="dejar-cv"><i class="far fa-file cv"></i>Quiero dejar mi CV</h4>
    <h4 class="vender-productos"> <i class="fas fa-dollar-sign cash"></i>Quiero vender productos Maines</h4>
    </article>
    
    <article class="item-d">
    <h3 class="mirá">Mirá como trabajamos!</h3>
    <img src="/images/maines.png" class="item-d">
    </article>
    
</article>

<h2 class="titulo">Productos</h2>

<article class="containerProductos">

    <article class="producto">
        <img src="/images/maines.png" width="350" height="350" alt="logo">    
        <ul class="cajaArticulo01" style="list-style: none">
            <i class="fas fa-truck camion"></i>
            <div class="preciosYdescuentos">
            <li class="precios">$6.770</li>
            <li class="descuentos">40% OFF</li>
            </div>
            <li class="descripciones"><b>Cafetera Moulinex</b></li>
        </ul>
    </article>

    <article class="producto">
        <img src="/images/maines.png" width="350" height="350" alt="logo">    
        <ul class="cajaArticulo01" style="list-style: none">
            <i class="fas fa-truck camion"></i>
            <div class="preciosYdescuentos">
            <li class="precios">$6.770</li>
            <li class="descuentos">40% OFF</li>
            </div>
            <li class="descripciones"><b>Cafetera Moulinex</b></li>
        </ul>
    </article>
    <article class="producto">
        <img src="/images/maines.png" width="350" height="350" alt="logo">    
        <ul class="cajaArticulo01" style="list-style: none">
            <i class="fas fa-truck camion"></i>
            <div class="preciosYdescuentos">
            <li class="precios">$6.770</li>
            <li class="descuentos">40% OFF</li>
            </div>
            <li class="descripciones"><b>Cafetera Moulinex</b></li>
        </ul>
    </article>
    <article class="producto">
        <img src="/images/maines.png" width="350" height="350" alt="logo">    
        <ul class="cajaArticulo01" style="list-style: none">
            <i class="fas fa-truck camion"></i>
            <div class="preciosYdescuentos">
            <li class="precios">$6.770</li>
            <li class="descuentos">40% OFF</li>
            </div>
            <li class="descripciones"><b>Cafetera Moulinex</b></li>
        </ul>
    </article>

</article>

<footer>
    footer
</footer>

</body></html>