<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <section class="producto1">
      <div class="imgInfo">
        <img class="img" src="/images/comida-saludable.png" alt="producto" />

        <div class="infoProducto">
          <h2 class="nombreProducto">Producto</h2>
          <p class="descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Etiam auctor pulvinar risus, in convallis nisi rhoncus vel.
          </p>
        </div>
      </div>

      <fieldset class="fieldsetCantidad">
        <label for="cantidad"></label>
        <input
          class="inputCantidad"
          name="cantidad"
          id="cantidad"
          type="number"
          min="1"
          max="10"
          placeholder="Cantidad"
          required
        />
      </fieldset>

      <div class="precio">
        <p class="textoPrecio">$160</p>
      </div>

      <button name="cantidad" type="reset" class="botonEliminar">
        <i class="fas fa-times"></i>
      </button>
    </section>

    <section class="producto">
      <div class="imgInfo">
        <img class="img" src="/images/comida-saludable.png" alt="producto" />

        <div class="infoProducto">
          <h2 class="nombreProducto">Producto</h2>
          <p class="descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Etiam auctor pulvinar risus, in convallis nisi rhoncus vel.
          </p>
        </div>
      </div>

      <fieldset class="fieldsetCantidad">
        <label for="cantidad"></label>
        <input
          class="inputCantidad"
          name="cantidad"
          id="cantidad"
          type="number"
          min="1"
          max="10"
          placeholder="Cantidad"
          required
        />
      </fieldset>

      <div class="precio">
        <p class="textoPrecio">$160</p>
      </div>

      <button name="cantidad" type="reset" class="botonEliminar">
        <i class="fas fa-times"></i>
      </button>
    </section>

    <section class="producto">
      <div class="imgInfo">
        <img class="img" src="/images/comida-saludable.png" alt="producto" />

        <div class="infoProducto">
          <h2 class="nombreProducto">Producto</h2>
          <p class="descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Etiam auctor pulvinar risus, in convallis nisi rhoncus vel.
          </p>
        </div>
      </div>

      <fieldset class="fieldsetCantidad">
        <label for="cantidad"></label>
        <input
          class="inputCantidad"
          name="cantidad"
          id="cantidad"
          type="number"
          min="1"
          max="10"
          placeholder="Cantidad"
          required
        />
      </fieldset>

      <div class="precio">
        <p class="textoPrecio">$160</p>
      </div>

      <button name="cantidad" type="reset" class="botonEliminar">
        <i class="fas fa-times"></i>
      </button>
    </section>

    <section class="producto">
      <div class="imgInfo">
        <img class="img" src="/images/comida-saludable.png" alt="producto" />

        <div class="infoProducto">
          <h2 class="nombreProducto">Producto</h2>
          <p class="descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Etiam auctor pulvinar risus, in convallis nisi rhoncus vel.
          </p>
        </div>
      </div>

      <fieldset class="fieldsetCantidad">
        <label for="cantidad"></label>
        <input
          class="inputCantidad"
          name="cantidad"
          id="cantidad"
          type="number"
          min="1"
          max="10"
          placeholder="Cantidad"
          required
        />
      </fieldset>

      <div class="precio">
        <p class="textoPrecio">$160</p>
      </div>

      <button name="cantidad" type="reset" class="botonEliminar">
        <i class="fas fa-times"></i>
      </button>
    </section>

    <!-- finalizar pedido -->

    <section class="sectionFinal">
      <div class="tituloFinal">
        <h2 class="tituloFinalTexto">Total del carrito</h2>
      </div>

      <article class="envio">
        <p class="envioTotal">Envio:</p>

        <form action="/">
          <fieldset class="fieldset">
            <legend class="none">Selecciona un Pais/Region</legend>
            <label for="provincia"></label>
            <select class="input" id="provincia" name="provincia">
              <option value="seleccion">Selecciona un Pais/Region</option>
              <option value="buenosAires">Buenos Aires</option>
              <option value="caba">Capital Federal</option>
              <option value="mendoza">Mendoza</option>
            </select>
          </fieldset>

          <fieldset class="fieldset">
            <label for="localidad/ciudad"></label>
            <input
              class="input"
              name="localidad/ciudad"
              id="localidad/ciudad"
              type="text"
              placeholder="Localidad/Ciudad"
            />
          </fieldset>

          <fieldset class="fieldset">
            <label for="codigoPostal"></label>
            <input
              class="input"
              name="codigoPostal"
              id="codigoPostal"
              type="text"
              placeholder="Codigo Postal"
            />
          </fieldset>

          <fieldset class="fieldset">
            <button class="botonActualizar" type="submit">Actualizar</button>
          </fieldset>
        </form>
      </article>

      <div class="total">
        <p class="envioTotal">Total:</p>
        <p class="precioTotal">$400</p>
      </div>

      <button class="botonFinal" type="submit">Seguir Comprando</button>
      <button class="botonFinal" type="submit">Finalizar Compra</button>
    </section>

    <section class="recomendado">
      <h2 class="tituloRecomendado">Tambien te puede interesar...</h2>

      <section class="productoRecomendado">
        <p class="nombreRecomendado"><strong>Pan de salvado</strong></p>
        <img class="imgRecomendado" src=".\images\maines.png" />
        <div class="infoRecomendado">
          <p class="precioRecomendado">$6.770</p>
          <p class="descuento">20% off</p>
          <div class="iconoRecomendado">
            <div class="camion"><i class="fas fa-truck"></i></div>
          </div>
        </div>
      </section>

      <button class="botonAgregar" type="submit">Agregar al Carrito</button>
    </section>

<footer>
    <section class="contenedor-footer">
    <section class="logo-slogan-redes" class="caja-footer">
      <picture>
        <img src="/images/maines.png" alt="logo" class="logo" />
      </picture>
      <article class="slogan">Somos lo que comemos</article>
    
    <section class="redes-sociales">
      <a href="https://www.facebook.com/Maines-105529098679983/">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/maines.com.ar/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/channel/UC-_zZ-_zZ-_zZzQ-_XKZq5g">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </section>
  </section>
<section class="direccion" class="caja-footer">
    <article>Mapa con ubicaciones</article>
      <picture>
        <img src="images/maps.svg" alt="mapa" class="mapa"/>
      </picture>
    </section>

    <section class="servicios" class="caja-footer">
      <ul>
        <li>Terminos y condiciones</li>
        <li>Envios y devoluciones</li>
        <li>Política de privacidad</li>
        <li>Quiero vender Maines</li>
      </ul>
    </section>
    <section class="contacto" class="caja-footer">
      <dl>
        <p></i>Contacto</p>
        <dt> <i class="fas fa-phone-alt"> </i>+ 11 1234 1234</dt>
        <dt> <i class="fas fa-envelope"> </i>consultas@maines.com.ar</dt>
        <dt> <i class="fas fa-clock"> </i>Lunes a viernes 09:00 a 18:00hs</dt>
        <dt> <i class="fas fa-map-marker-alt"> </i>Calle falsa 123, CABA</dt>
      </dl>
    </section>
  </section>
  </footer>
</body>
</html>





    
</body>
</html>
