
<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel= "stylesheet" href= "/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>

<body>

    <main>
        <section>
            <p>Registrate para guardar tus pedidos, preferencias y hacer un seguimiento!</p>
        </section>
        <form action='/' method="post">
            <fieldset>
                <label class= "negrita"> Nombre y apellido</label>
                <input type="text" name='nombreApellido'>
                
            </fieldset>
            <fieldset>
                <label class= "negrita">Nombre de Usuario</label>
                <input type="text" name='nombreApellido'>
            </fieldset>
            <fieldset>
                <label class= "negrita">Email</label>
                <input type="mail" name="email">
            </fieldset>
            
            <fieldset>
                <label class= "negrita">Domicilio</label>
                <input type="text" name='Domicilio'>
            </fieldset>
            
            <fieldset>
                <label class= "negrita">Telefono (opcional)</label>
                <input type="text" name="telefono">
            </fieldset>
           
                       
            
            <button class="botones botonCrearCuenta" type="submit">CREAR CUENTA</button>

            <p></a>¿Ya tenés una cuenta? <a href="/login"><b>Iniciá sesión</b></a></p>
            <button class="botones botonFacebook" type="submit">Registrarse con Google</button>
            <button class="botones botonGoogle" type="submit">Registrarse con Facebook</button>

        </main>
        
    </body>
    
    </html>
    
