
<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel= "stylesheet" href= "/css/register.css">
    <link rel= "stylesheet" href= "/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">       
</head>

<body>

    <picture>   <a href="/"> <img src = '/images/LogoMaines.svg' altclass= "logo"/></a> 
    </picture> 
    
    <main>
        <form action='/' method="post">
            <fieldset>
                <label class= "negrita"> Nombre y apellido</label>
                <input type="text" name='nombreApellido'>
                
            </fieldset>
            <fieldset>
                <label class= "negrita">Nombre de Usuario</label>
                <input type="text" name='nombreApellido'>
            </fieldset>
            <fieldset>
                <label class= "negrita">Email</label>
                <input type="mail" name="email">
            </fieldset>
            <fieldset>
                <label class= "negrita">Fecha de Nacimiento</label>
                <input type="date" name='Nacimiento'>
            </fieldset>
            <fieldset>
                <label class= "negrita">Domicilio</label>
                <input type="text" name='Domicilio'>
            </fieldset>
            <fieldset>
                <label class= "negrita">Telefono (opcional)</label>
                <input type="number" name="telefono">
            </fieldset>
           
                       
            
            <button class="botonGuardar" type="submit">Guardar</button>
            <button class="botonBorrar" type="reset">Borrar</button>
            
        </main>
        
    </body>
    
    </html>
    
