<header>
    
    <div class = "fila-1">
        
        <a href="/"> <img src = "/images/maines.png" class="logo"> </a>
        <ul class = "links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Vision</a></li>
            </ul>
    </div>

    <h2 class="frase-header"> <i class="fas fa-hand-holding-usd">
    </i>Aceptamos todos los medios de pago, ¡incluso cryptomonedas!</h2>
    
    <div class = "fila-2">
        
    </div>

    
    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
        </a>
    
</header> 