<header>
    
    <div class = "fila-1">
        
        <a href="/"> <img src = "/images/maines.png" class="logo-header"> </a> 
        <form action="/buscar-producto" method="POST" class="formulario" ></form> <!--¿tengo que ponerle un name para que se envie la info?-->
        <i class="fas fa-search lupa"></i>
        <input type="text" name="Barra Búsqueda" placeholder="Buscar productos" class="input-barra">
        </form>
    </div>

<h2 class="frase-header"> <i class="fas fa-hand-holding-usd">
</i>Aceptamos todos los medios de pago, ¡incluso cryptomonedas!</h2>

<div class = "fila-2">
    
</div>
<nav>
<ul class = "links">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Quienes Somos</a></li>
    <li><a href="#">Vision</a></li>
</ul>
</nav>

<a href="#" class="hamburguer-button">
    <i class="fas fa-bars"></i>
</a>

</header> 