
    <%- include ("../partials/head") %> 

      <body>
        <%-include ("../partials/header") %>
        <main>

            <h1>Tú carrito:</h1>
            <section class="cart-list">
        <section class="producto">
          <div class="imgInfo">
            <img class="img" src="/images/comida-saludable.png" />
    
            <div class="infoProducto">
              <h2 class="nombreProducto">Producto</h2>
              <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
    
              </p>
            </div>
          </div>

          <button name="delete" type="submit" class="delete-btn">
            <i class="fas fa-times"></i>
          </button>
          </section>
          <section class="producto">
          <div class="imgInfo">
            <img class="img" src="/images/comida-saludable.png" />
    
            <div class="infoProducto">
              <h2 class="nombreProducto">Producto</h2>
              <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
              </p>
            </div>
          </div>
          <button name="delete" type="submit" class="delete-btn">
            <i class="fas fa-times"></i>
          </button>
        </section>
        <section class="producto">
          <div class="imgInfo">
            <img class="img" src="/images/comida-saludable.png"/>
    
            <div class="infoProducto">
              <h2 class="nombreProducto">Producto</h2>
              <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
              </p>
            </div>
          </div>
          <button name="delete" type="submit" class="delete-btn">
            <i class="fas fa-times"></i>
          </button>
        </section>
        <section class="producto">
          <div class="imgInfo">
            <img class="img" src="/images/comida-saludable.png"/>
    
            <div class="infoProducto">
              <h2 class="nombreProducto">Producto</h2>
              <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
              </p>
            </div>
            <button name="delete" type="submit" class="delete-btn">
                <i class="fas fa-times"></i>
              </button>
          </div>
          </section>
        </section>
    
          <div class="total">
            <p class="envioTotal">Total: 400 $</p>
          </div>

          <h2>Te podría interesar:</h2>
          <section class="zona-productoRecomendado">
          <article class="productoRecomendado">
            <p class="nombreRecomendado"><strong>Pan de salvado</strong></p>
            <img class="imgRecomendado" src="/images/pan-negro.jpeg" />
            <div class="infoRecomendado">
              <p class="precioRecomendado">$6.770</p>
              <p class="descuento">20% off</p>
            </div>
            <button class="botonAgregar" type="submit">Agregar al Carrito</button>
        </article>

        <article class="productoRecomendado">
            <p class="nombreRecomendado"><strong>Pan de salvado</strong></p>
            <img class="imgRecomendado" src="/images/pan-negro.jpeg" />
            <div class="infoRecomendado">
              <p class="precioRecomendado">$6.770</p>
              <p class="descuento">20% off</p>
            </div>
            <button class="botonAgregar" type="submit">Agregar al Carrito</button>
        </article> 
        
        <article class="productoRecomendado">
            <p class="nombreRecomendado"><strong>Pan de salvado</strong></p>
            <img class="imgRecomendado" src="/images/pan-negro.jpeg" />
            <div class="infoRecomendado">
              <p class="precioRecomendado">$6.770</p>
              <p class="descuento">20% off</p>
            </div>
            <button class="botonAgregar" type="submit">Agregar al Carrito</button>
        </article>

        <article class="productoRecomendado">
            <p class="nombreRecomendado"><strong>Pan de salvado</strong></p>
            <img class="imgRecomendado" src="/images/pan-negro.jpeg" />
            <div class="infoRecomendado">
              <p class="precioRecomendado">$6.770</p>
              <p class="descuento">20% off</p>
            </div>
            <button class="botonAgregar" type="submit">Agregar al Carrito</button>
        </article>
        </section>
    
    
        </section>
      </main>
    
        <%- include ('../partials/footer') %>
    
      </body>
    </html>