<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <h1> Nuevo Producto</h1>
    <form action="/products/" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="name">
            <input type="text" name="name" id="name" placeholder="Nombre de Producto">
            </label>    
        </fieldset>
        <fieldset>
            <label for="description">
             <input type="text" name="description" id="description" placeholder="Descripción de Producto">
             </label>
        </fieldset>
        <fieldset>
            <label for="price">
            <input type="number" name="price" id="price" placeholder="Precio del Producto">
            </label>
        </fieldset>
        <fieldset>
            <label for="offert">
            <input type="text" name="offert" id="offert" placeholder="¿Está en oferta?">
            </label> 
            <label for="discount">   
            <input type="text" name="discount" id="discount" max="100" step="10" value="0" placeholder="% de descuento">
            </label>
        </fieldset>
        <fieldset>
            <label for="file">
            <input type="file" name="file" id="file" multiple>
            </label>
        </fieldset>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>