<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <h1> Nuevo Producto</h1>
    <form action="/products/" method="post" enctype="multipart/form-data">
        <p>
            <label for="name">
        <input type="text" name="name" id="name" placeholder="Nombre de Producto">
        </label>    
            </p>
            <label for="file">
        <input type="file" name="file" id="file" multiple>
    </label>
        <p>
        <input type="text" name="descripci칩n" id="descripci칩n" placeholder="Descripci칩n de Producto">
        </p>
        <input type="text" name="descuento" id="descuento" placeholder="% de descuento">
        <p>
        <label for="offert">
        <input type="text" name="offert" id="offert" placeholder="est치 en oferta?">
        </label>    
        </p>
        <label for="price">
        <input type="number" name="price" id="price" placeholder="Precio del Producto">
        </label>
        <p>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>