footer {
  width: 100vw;
  background-color: #58DAB4;
  border: 5px solid rgba(100, 100, 100, 0.15);
}

.logo{
  width: 8em;
  border-radius: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 25px;
}
.logo-slogan {
  margin-bottom: 2em;
}
.slogan {
  font-size: 1.5em;
  color: #fff0ed;
  font-weight: bold;
}

.ubicacion{
  margin-top: 50px;
}

.mapa {
  margin-left: 10px;
  width: 20vw;
}

.direccion {
  font-size: 1.5em;
  color: #fff0ed;
  font-weight: bold;
  margin-top: 1em;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.servicios li {
  list-style: none;
  margin: 0.5em;
}

.textos{
  color: #ffffff
}
.contacto p {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contacto dt {
  margin-top: 0.3em;
  align-items: flex-end;
}

.contacto dt i {
  margin-right: 0.4em;
}

.slogan {
  font-size: 20px;
  margin-bottom: 20px;
}
.logo-slogan {
  margin-bottom: 1em;
}
.redes-sociales i {
  font-size: 30px;
  color: #fff0ed;
  margin-right: 1em;
}

@media (min-width: 769px) {

  footer{
    border: 5px solid rgba(100, 100, 100, 0.15);
  }

  .logo{
    width:10em;
    border-radius: 200px;
    margin-top: 20px;
  }


  .contacto {
    margin-top: 50px;
  }

  picture img .logo{
    margin: auto;
    width: 20vw;
  }


  .contenedor-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .servicios ul {
    list-style: none;
    margin-top: 50px;
    padding: 0px;
    text-align: left;
  }

  .servicios ul li{
    width: 200px;
    margin-bottom: 20px;
  }

  .redes-sociales{
    display: flex;
    flex-direction: row;
  }
}
