* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #58DAB4;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    
 header .barra-busqueda{
   display: none;
 }

    header .fila-1{
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    header h1{
      display: none;
    }

    header .fila-1 #burger{
      margin: 15px 10px 0 0;
      font-size: 22px;
      color: white;
      padding: 5px;
    }
  
    header .fila-1 .home-banner .logo-header{
      display: none;
      margin: 0;
      width:4em;
      height: 4em;
  }

  header .userName{
    display: none;
  }
  
  header .userName, header .logout-button, header .header-users-list {
    text-decoration: underline;
    background-color: #58DAB4; 
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  
  
  header .fila-1 .login-register{
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: bold;
  }
 
  header .login-register .login-div{
    margin: 1.5rem 1rem 0 0 ;
  }
 
  header .login-register .register-div{
   margin: 1.5rem 0 0 0 ;
 }
 
  



  }


@media (min-width: 769px) and (max-width:1023px){


  header .barra-busqueda{
    display: show;
    margin: 2rem 0 0 0;
  }

  header .barra-busqueda input{
    border: none;
    padding: .3rem;
    border-radius: 1rem;
  }

  header .barra-busqueda i{
    color: white;
  }

  header .fila-1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header h1{
    color: white;
    font-size: 16px;
    margin: 2rem 0 0 0;
  }

  header .fila-1 #burger{
    display: none;
  }

  header .fila-1 .logo-header{
    width: 5rem;
    height: 5rem;
}

header .userName, header .logout-button, header .header-users-list {
  text-decoration: underline;
  background-color: #58DAB4; 
  border: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

  header .fila-1 .login-register .login-div a, .login-register .register-div a{
    font-weight: bold;
    font-size: 16px;
  }
  header .fila-1 .login-register{
    display: flex;
  }
 
  header .login-register .login-div{
    margin: 2rem 1rem 0 0 ;
  }
 
  header .login-register .register-div{
   margin: 2rem 0 0 0 ;
 }
 

}

@media (min-width:1024px) {


  header .barra-busqueda{
    margin: 1rem 0 0 0;
  }

  header .barra-busqueda input{
    border: none;
    padding: .3rem;
    border-radius: 1rem;
  }

  header .barra-busqueda i{
    color: white;
  }

  
  header .fila-1 #burger{
    display: none;
  }
    
    header .fila-1{
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }

    header h1{
      color: white;
      font-size: 14px;
      margin-top: 1.5rem;
    }

  
    header .fila-1 .logo-header{
      width:5rem;
      height: 5rem;
  }
  
  header .userName, header .logout-button, header .header-users-list {
    text-decoration: underline;
    background-color: #58DAB4; 
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  
 header .fila-1 .login-register{
   display: flex;
 }

 header .login-register .login-div{
   margin: 1.5rem 1rem 0 0 ;
 }

 header .login-register .register-div{
  margin: 1.5rem 0 0 0 ;
}

header .fila-1 .login-register .login-div a, .login-register .register-div a{
  font-weight: bold;
  font-size: 16px;
}
  

}