* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9ed;
  width: 100%;
}
@media (min-width:320px) and (max-width:767px) {
  

  main .logo{
    width: fit-content;
    padding: 0;
    margin: auto;
  }

  main .logo img {
    margin-top: 2rem;
    width: 15rem;
  }

  main .home-list{
    text-align: center;
    list-style: none;
    font-weight: bolder;
    font-size: 13px;
    display: flex;
    flex-wrap: break-word wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
  }

  main .home-list li{
    background-color: #FF9B87;
    padding: .5rem;
    border-radius: .5rem;
    margin: .3rem;
  }

main h2 {
  background-color: rgba(88, 218, 180, 0.2);
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}

main .lista-productos{
  margin: auto;
  margin-top: 5rem;
  width: 8rem;
}

main .productos{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
  
}

main .productos .product-img{
  width: 8rem;
}
  main .productos img{
    text-align: center;
    width: 8rem;
  }

  main .lista-productos div{
    width: 8rem;
  }

  main .lista-productos .descripcion-producto{
    margin-bottom: 1.5rem;
    list-style: none;
    border: 1px solid black;
    width: 8rem;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
  }

  main .lista-productos .descripcion-producto li{
    margin: 1rem 0 1rem 0;
  }

  main .brands{
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  main .brands div{
    background-color: rgba(255, 155, 135, 0.8);
    text-align: center;
    margin: auto;
    margin-top: 1rem;
  }

  main .brands .div-1 h3{
    font-size: 14px;
    padding: 2.4rem;
  }

  main .brands .div-2 h3{
    font-size: 14px;
    text-align: left;
    padding: 1rem;
  }



}

@media (min-width:768px) {

  main .logo{
    text-align: center;
    width: 30rem;
    padding: 0;
    margin: auto;
  }

  main .logo img {
    width: 30rem;
  }

  main .home-list{
    list-style: none;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem
  }

  main .home-list li{
    background-color: #FF9B87;
    padding: 1rem;
    border-radius: .5rem;
  }

main h2 {
  background-color: rgba(88, 218, 180, 0.2);
  font-size: 25px;
  padding: 1rem;
}

main .lista-productos{
  margin-top: 5rem;
}

main .productos{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
  main .productos img{
    text-align: left;
    width: 8rem;
  }

  main .lista-productos .descripcion-producto{
    list-style: none;
    border: 1px solid black;
    width: 8rem;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
  }

  main .lista-productos .descripcion-producto li{
    margin: 1rem 0 1rem 0;
  }

  main .brands{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  main .brands div{
    background-color: rgba(255, 155, 135, 0.8);
    text-align: center;
    margin: auto;
  }

  main .brands .div-1 h3{
    width: 18rem;
    font-size: 15px;
    padding: 3.32rem;
  }

  main .brands .div-2 h3{
    width: 25rem;
    font-size: 15px;
    text-align: left;
    padding: .5rem;
  }

  
  }
  
