* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9ed;
  width: 100%;
}
@media (min-width:320px) and (max-width:767px) {
  

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  margin: 50px 0 100px 0;
}

main .banner {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .welcome {
  text-align: center;
  margin-bottom: 10px;
}

main .welcome img{
  width: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #FF9B87;
  border-radius: 10px;
}

main .about , .about-products, .contact{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


}

@media (min-width:768px) {
  

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 10px;
  }
  
  main .banner {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  main .welcome {
    text-align: center;
    margin-bottom: 10px;
  }
  
main .img-product-with-text{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}
main .img-product-with-text h3{
  margin: auto;
  margin-left: 60px;
  height: fit-content;
}
  main .img-product-with-text picture{
    text-align: right;
  }

  main .img-product-with-text img {
    width: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #FF9B87;
    border-radius: 10px;
  }
  
  main .about , .about-products, .contact{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  }
  
