* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF9ED;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 768px){

    main{
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: bold;
    }

    main h1{
        margin-bottom: 20px;
    }

    main .lista-usuarios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    main ul{
        width: 200px;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding: 10px;
        border: 3px solid #FF9B87;
        box-shadow: 0px 0px 5px #444444;
        border-radius: 10px;
    }

    main ul div{
        text-align: center;
        padding: 20px;
    }

    main .avatar-img{
        width: 140px;
        height: 120px;
        border: 2px solid #A5A1F3;
        border-radius: 10px;
    }

    main .edit-user{
        width: 100px;
        font-size: 14px;
        padding: 10px;
        margin: 30px;
        border-radius: 5px;
        border: none;
        background-color: #A5A1F3;
        color: white;
    }

    main .edit-text{
        margin-top: 8px;
        font-size: 12px;
    }

}

@media (min-width: 768px){

    main{
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: bold;
    }

    main h1{
        margin-bottom: 20px;
    }

    main .create-product button{
        border: 2px solid #444444;
        border-radius: 10px;
        padding: 10px;
        background-color: #FF9B87;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: white;
    }

    main .lista-usuarios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    main ul{
        width: 200px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding: 10px;
        border: 3px solid #FF9B87;
        box-shadow: 0px 0px 5px #444444;
        border-radius: 10px;
    }

    main ul div{
        text-align: center;
        padding: 20px;
    }


    main .avatar-img{
        width: 140px;
        height: 120px;
        border: 2px solid #A5A1F3;
        border-radius: 10px;
    }

    main .edit-user{
        width: 100px;
        font-size: 14px;
        padding: 10px;
        margin: 30px;
        border-radius: 5px;
        border: none;
        background-color: #A5A1F3;
        color: white;
    }

    main .edit-text{
        margin-top: 8px;
        font-size: 12px;
    }

}