* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9ed;
  font-family: "Roboto", sans-serif;
}

input.error {
  background-color: rgb(226, 143, 143);
}

input.success {
  background-color: rgb(111, 228, 121);
}
input.focus {
  background-color: #ccc;
  border: 1px solid #8f8987;
}

.feedback {
  padding: 1rem 0.25rem;
  font-size: 1.25rem;
  margin: 0.25rem 0.5rem;
  text-decoration: solid;
}

.feedback.error {
  color: rgb(226, 143, 143);
}

.feedback.success {
  color: rgb(111, 228, 121);
}

@media (min-width: 320px) and (max-width: 768px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50vw;
    align-items: center;
  }

  .formInicioSesion {
    width: 80vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .labelLogin {
    width: 200px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
  }

  .inputLogin {
    width: 200px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .olvidasteContra {
    color: black;
    margin-right: 210px;
  }

  .botonLogin {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    background-color: #3483fa;
    border-color: transparent;
    border-radius: 8px;
    color: #fff;
    transition: all 200ms;
  }

  .botonLogin:hover {
    background-color: #06439e;
  }

  .crearCuenta {
    display: flex;
    color: black;
    margin-top: 10px;
  }

  .error-msg {
    font-size: 16px;
    color: #ff9b87;
    font-weight: bold;
  }

  #remember {
    margin-right: 10px;
  }

  .remember-box {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .logo-maines {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50vw;
    align-items: center;
  }

  .formInicioSesion {
    width: 60vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .labelLogin {
    width: 200px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
  }

  .inputLogin {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .olvidasteContra {
    color: black;
    margin-right: 210px;
  }

  .botonLogin {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    background-color: #3483fa;
    border-color: transparent;
    border-radius: 8px;
    color: #fff;
    transition: all 200ms;
  }

  .botonLogin:hover {
    background-color: #06439e;
  }

  .crearCuenta {
    display: flex;
    color: black;
    margin-top: 10px;
  }

  .error-msg {
    font-size: 16px;
    color: #ff9b87;
    font-weight: bold;
  }

  #remember {
    margin-right: 10px;
  }

  .remember-box {
    font-weight: bold;
  }
}
