* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF9ED;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 320px) {
 main{
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }

 main .producto{
     width: 15rem;
    border: .2rem solid #444444;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 2rem;
 }

 main .producto img{
     width: 10rem;
     margin: 1rem;
     border: .2rem solid #444444;
 }

 main .producto .infoProducto{
     border-top: .2rem solid #444444;
 }

 main .producto p{
     font-size: 18px;
     font-weight: bolder;
 }

 main fieldset {
     border: none;
 }

 main fieldset label{
     font-weight: bolder;
     font-size: 16px;
 }

 main .producto input{
    width: 3rem;
 }

 main .producto button{
     width: 4rem;
     border: none;
     padding: .6rem;
     background-color: #FF9B87;
     border-radius: .5rem;
     font-size: 25px;
     margin: 2rem 0 2rem 0;
 }

 main .sectionFinal{
     width: 15rem;
     margin: auto;
     display: flex;
     flex-direction: column;
     border: .2rem solid #A5A1F3;
     font-weight: bolder;
 }

 main .sectionFinal .envio p{
     margin: 1rem;
     font-size: 20px;
 }
 main .sectionFinal form fieldset, main .sectionFinal legend{
     margin-bottom: 1rem;
 }

 main .sectionFinal .botonActualizar{
     width: 7rem;
     border: none;
     padding: .3rem;
     background-color: #FF9B87;
     font-size: 16px;
     color: white;
 }

 main .sectionFinal .total{
     font-weight: bolder;
     font-size: 20px;
     margin: 1rem 0 2rem 0;
 }

 main .sectionFinal .finalButtons{
     margin: auto;
 }

 main .sectionFinal .botonSeguir, main .sectionFinal .botonFinal{
    width: 8rem;
    border: none;
    padding: .3rem;
    margin-bottom: 1rem;
    background-color: #FF9B87;
    color:white;
    
 }

 main .recomendado{
     margin: auto;
     margin-top: 3rem;
     margin-bottom: 5rem;
     width: 15rem;
 }

 main .recomendado .productoRecomendado{
     width: 15rem;
     margin: auto;
     margin-top: 3rem;
     border: .2rem solid #FF9B87;
     font-weight: bolder;
 }

 main .recomendado img{
     width: 10rem;
     margin: 1rem 0 0 0;
 }

 main .recomendado .infoRecomendado{
     margin-top: 1rem;
     border-top: .2rem solid #FF9B87;
     padding: 1rem
 }

 main .recomendado .botonAgregar{
     width: 10rem;
     border: none;
     margin-top: 2rem;
     padding: .6rem;
     background-color: #A5A1F3;
     color: white;
 }

}


@media (min-width: 768px) {
    main .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
   
    main .producto{
       border: .2rem solid #444444;
       margin: 2rem 1rem;
    }
   
    main .producto img{
        width: 10rem;
        margin: 1rem;
        border: .2rem solid #444444;
    }
   
    main .producto .infoProducto{
        border-top: .2rem solid #444444;
    }
   
    main .producto p{
        font-size: 18px;
        font-weight: bolder;
    }
   
    main fieldset {
        border: none;
    }
   
    main fieldset label{
        font-weight: bolder;
        font-size: 16px;
    }
   
    main .producto input{
       width: 3rem;
    }
   
    main .producto button{
        width: 4rem;
        border: none;
        padding: .6rem;
        background-color: #FF9B87;
        border-radius: .5rem;
        font-size: 25px;
        margin: 2rem 0 2rem 0;
    }
   
    main .sectionFinal{
        width: 15rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: .2rem solid #A5A1F3;
        font-weight: bolder;
    }
   
    main .sectionFinal .envio p{
        margin: 1rem;
        font-size: 20px;
    }
    main .sectionFinal form fieldset, main .sectionFinal legend{
        margin-bottom: 1rem;
    }
   
    main .sectionFinal .botonActualizar{
        width: 7rem;
        border: none;
        padding: .3rem;
        background-color: #FF9B87;
        font-size: 16px;
        color: white;
    }
   
    main .sectionFinal .total{
        font-weight: bolder;
        font-size: 20px;
        margin: 1rem 0 2rem 0;
    }
   
    main .sectionFinal .finalButtons{
        margin: auto;
    }
   
    main .sectionFinal .botonSeguir, main .sectionFinal .botonFinal{
       width: 8rem;
       border: none;
       padding: .3rem;
       margin-bottom: 1rem;
       background-color: #FF9B87;
       color:white;
       
    }
   
    main .recomendado{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 5rem;
        width: 15rem;
    }
   
    main .recomendado .productoRecomendado{
        width: 15rem;
        margin: auto;
        margin-top: 3rem;
        border: .2rem solid #FF9B87;
        font-weight: bolder;
    }
   
    main .recomendado img{
        width: 10rem;
        margin: 1rem 0 0 0;
    }
   
    main .recomendado .infoRecomendado{
        margin-top: 1rem;
        border-top: .2rem solid #FF9B87;
        padding: 1rem
    }
   
    main .recomendado .botonAgregar{
        width: 10rem;
        border: none;
        margin-top: 2rem;
        padding: .6rem;
        background-color: #A5A1F3;
        color: white;
    }
}



