* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff9ed;
}

.logo {
  width: 50%;
  margin-top:20px
}

p {
  margin: 3em;
}

.error-msg{
  color: #FF9B87;
  font-size: 16px;
  font-weight: bold;
}

.formulario-registro {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
.input-formulario-registro{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.perfilDeUsuario {
  display: flex;
  flex-direction: row;
}
.checkboxAlign {
  display: flex;
  align-items: center;
  width: 100%
}

.botonInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 0.3em;
}


a:hover {
  font-size: 105%;
}

fieldset {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categorias,
.legend {
  margin-bottom: 15px;
  margin-top: 30px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.categorias-interes {
  display: flex;
  flex-wrap: wrap;
  border: none;
  outline: none;
  width: 100%;
  position: relative;
}

.legend {
  margin-left: 14px;
}

.seleccionarArchivo {
  width: 100%;
  margin-left: 14px;
  margin-bottom: 20px;
  font-size: 15px;
  border: none;
  height: auto;
}

.botones {
  border-color: transparent;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.4em;
  text-align: center;
  border-radius: 6px;
  width: 105%;
  margin-top: 1.5em;
}

.botonCrearCuenta {
  background-color: #58dab4;
}

.botones:hover {
  opacity: 50%;
}

.botonFacebook {
  background-color: #3483fa;
}

.botonGoogle {
  background-color: #db4a39;
}
.negrita {
  font-weight: bold;
}

.width60 {
  width: 20%;
}

@media (min-width: 769px) {
  .formulario-registro {
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-formulario-registro {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  fieldset {
    padding: 16px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border: none;
  }

  .botonInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacto {
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .formulario-registro {
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  fieldset {
    padding: 16px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border: none;
  }

  .botonInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenedor-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  img.mapa {
    max-width: 30%;
  }
  .servicios {
    margin-right: 1.5em;
  }
  .caja-footer {
    text-align: center;
    align-content: center;
  }
}
