<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Nuevo Producto</h1>
    <form action="/products/" method="post">
        <input type="text" name="name" id="name" placeholder="Nombre de Producto">
        <input type="text" name="descripción" id="descripción" placeholder="Descripción de Producto">
        <input type="file" name="foto" id="img" class="seleccionarArchivo">
        <input type="text" name="categoría" id="categoría" placeholder="Categoría">
        <input type="text" name="detalles" id="detalles" placeholder="Detalles de Producto">
        <input type="number" name="price" id="price" placeholder="Precio de Producto">

        <button type="submit">Guardar</button>
    </form>
</body>
</html>