

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Update Product</h1>
    <form action="/products/<%= product.id %>?m=PUT" method="post">
        <input type="text" name="name" id="name" placeholder="Nombre de Producto" value="<%= product.name %> ">
        <input type="text" name="price" id="price" placeholder="Price" value="<%=product.price %>">
        

        <button type="submit">Update</button>
    </form>
</body>
</html>