<%- include ('./partials/head') %>


<body>
     <%- include ('./partials/header') %>
     <main>
        <h2>Te contaremos un poco de nosotros y de nuestra vision</h2>
        <article class="container">
          <article class="video-conocenos">
            <h3 class="conocenos">¡Aqui un video para que nos conozcas mejor!</h3>
            <video width="500" height="500" controls>
              <source src="/images/video-maines.mp4" type="video/mp4" />
            </video>
          </article>
          <section class="more-info">
          <article class="frase-producto-regalo">
              <i class="fas fa-gift icono-regalo"></i>
              <h3>¡Probá Maines
              gratis!
              Pedí aca tu primer producto de regalo y sin costo de envío.
            </h3>
            <i class="fa-solid fa-info"></i>
            <h3>Realizamos talleres y concientización sobre una dieta saludable</h3>
          </article>
          
          <article class="sumate-a-maines">
          <div>
            <i class="far fa-file icono-cv"></i>
                <h3>Dejanos tu CV si quieres trabajar con nosotros.</h3>
                <input type="file" name="cv" id="cv" class="seleccionarArchivo">
              </div>
              <i class="fas fa-dollar-sign icono-dinero"></i>
              <h3>Si quieres vender tus productos en Maines, haz click <a href="/contact">aquí</a> y coloca tus datos.</h3>
            </article>
            
            <article class="adquirí-nuestros-productos">
              <i class="fas fa-shopping-cart carrito"></i>
              <h3 class="adquirí-texto">
              Revisa nuestros productos haciendo click <a href="/products">aquí</a>.
              </h3>
              <i class="fas fa-credit-card tarjeta"></i>
              <h3 class="comprá-online">Comprá online nuestros productos con cualquier tarjeta de credito o debito.
              </h3>
            </article>
          </section>
          </main>

            <%- include ('./partials/footer') %>
</body>
</html>
