<%- include ('./partials/head') %>


<body>
     <%- include ('./partials/header') %>
        <h2>Deja tus datos para contactarnos:</h2>
        <form>
            <fieldset>
                <legend>Email:</legend>
            </fieldset>
        </form>
 <footer>
            <%- include ('./partials/footer') %>
          </footer>
</body>
</html>