
<%- include ('./partials/head') %>
<%- include("./partials/styles")%>

<body>
  
    <%- include ('./partials/header') %>
  

  <main>
    <article class="logo">
      <img src="/images/LogoWeb.png" alt="">
    </article>


    <ul class="home-list">
      <li><a href="/talleres" style="text-decoration: none; color: black;">Clases y talleres</a></li>
      <li><a href="/products" style="text-decoration: none; color: black;">Productos</a></li>
      <li><a href="/contact" style="text-decoration: none; color: black;">Contacto</a></li>
      <li><a href="/about" style="text-decoration: none; color: black;">Sobre nosotros</a></li>
    </ul>

    <h2>Productos más vendidos</h2>
    <section class="lista-productos">
    <ul class="productos">
      <div>
      <li class="product-img"><img src="/images/ensalada-primavera.jpeg" alt=""></li>
      <ul class="descripcion-producto">
        <li>Ensalada primavera</li>
        <li>Precio: 2500$</li>
        </ul>
      </div>
      <div>
        <li class="product-img"><img src="/images/tarta-verdura.jpeg" alt=""></li>
      <ul class="descripcion-producto">
        <li>Tarta de verdura</li>
        <li>Precio: 2000$</li>
      </ul>
    </div>
    <div>
        <li class="product-img"><img src="/images/pan-negro.jpeg" alt=""></li>
      <ul class="descripcion-producto">
        <li>Pan negro</li>
        <li>Precio: 1500$</li>
      </ul>
    </div>
    <div>
        <li class="product-img"><img src="/images/ensalada-primavera.jpeg" alt=""></li>
      <ul class="descripcion-producto">
        <li>Ensalada primavera</li>
        <li>Precio: 2500$</li>
      </ul>
    </div>
    </ul>
  </section>

  <section class="brands">
    <div class="div-1">
      <h3>¡MIRÁ TODOS LOS <br> PRODUCTOS DE NUESTRA TIENDA ONLINE!</h3>
    </div>
    <div class="div-2">
      <h3>
      Marcas aliadas: <br>
      <br>
      Arcor, Nestlé, Cofler, Mogul, Gongys, Cindor, La Serenisima, Paty, otros.<br>
      Arcor, Nestlé, Cofler, Mogul, Gongys, Cindor, La Serenisima, Paty, otros. <br>
      Arcor, Nestlé, Cofler, Mogul, Gongys, Cindor, La Serenisima, Paty, otros.
    </h3>
    </div>
  </section>

    

    <!-- <article class="img-product-with-text">
    <h3>Producimos alimentos 100% naturales, sin químicos ni conservantes. <br>
       Creemos que comer rico y saludable es posible. <br>
       Brindamos capacitación a todo aquel que quiera llevar una vida saludable.
    </h3>
    <picture>
      <img src="/images/tarta-verdura.jpeg">
    </picture>
  </article>
  </article>

  <article class="about">
    <h3>Queremos que conozcas más sobre nosotros y de como trabajamos. <br>
      Haz click <a href="/about">aquí</a> para saberlo o en el icono.</h3><a href="/about"><i class="fa-solid fa-shop"></i></a>
  </article>

  <article class="about-products">
    <h3>Para conocer más sobre todos nuestros productos <br>
       haz click <a href="/products/list">aquí</a> para verlos o en el icono.</h3><a href="/products/list"><i class="fa-solid fa-bag-shopping"></i></a>
  </article>

  <article class="contact">
    <h3>Si quieres dejarnos una sugerencia o algún comentario, <br>
       haz click <a href="/contact">aquí</a> o en el icono.</h3><a href="/contact"><i class="fa-solid fa-message"></i>
    </a>
  </article>

  <h2 class="gracias"><i class="fa-regular fa-face-grin-beam"></i> ¡Gracias por visitarnos! <i class="fa-regular fa-face-grin-beam"></i></h2> -->
    
    
          
                    
            
            
 
              <!-- <article class="lamina">
                <article class="lamina-cajas">
                  <i class="fas fa-truck lamina-icono"></i>
                  <p class="lamina-texto">Entregas a todo el pais</p>
                </article>
                <article class="lamina-cajas">
                    <i class="fas fa-shopping-basket lamina-icono"></i>
                    <p class="lamina-texto">Comprá con todos los medios de pago</p>
                  </article>
                    </article> -->
            </main>
            
              <%- include ('./partials/footer') %>
            
          </body>
          </html>
