<head>
<%- include ('./partials/head') %>
<%- include("./partials/styles")%>
</head>
<body>
  
    <%- include ('./partials/header') %>
  

  <main>
    <img src="/images/LogoMaines.svg" class="banner" />
    <article class="welcome">
    <h1>Bienvenido a Maines, donde somos lo que comemos.</h1><br>
    <h3>Producimos alimentos 100% naturales, sin químicos ni conservantes.</h3>
    <h3>Creemos que comer rico y saludable es posible</h3>
    <picture>
      <img src="/images/tarta-verdura.jpeg">
      <h4>Tarta de verduras</h4>
    </picture>
  </article>

  <article class="about">
    <h3>Queremos que conozcas más sobre nosotros y de como trabajamos, haz click <a href="/about">aquí</a> para saberlo</h3>
  </article>

  <article>
    <h3>Para conocer más sobre nuestros productos haz click <a href="/products/list">aquí</a> para verlos</h3>
  </article>
    <h3>Si quieres dejarnos una sugerencia o algún comentario, haz click <a href="/contact">aquí</a></h3>
    
    
          
                    
            
            
 
              <!-- <article class="lamina">
                <article class="lamina-cajas">
                  <i class="fas fa-truck lamina-icono"></i>
                  <p class="lamina-texto">Entregas a todo el pais</p>
                </article>
                <article class="lamina-cajas">
                    <i class="fas fa-shopping-basket lamina-icono"></i>
                    <p class="lamina-texto">Comprá con todos los medios de pago</p>
                  </article>
                    </article> -->
            </main>
            
              <%- include ('./partials/footer') %>
            
          </body>
          </html>
