<head>
<%- include ('./partials/head') %>
<%- include("./partials/styles")%>
</head>
<body>
  
    <%- include ('./partials/header') %>
  

  <main>
    <img src="/images/LogoMaines.svg" class="banner" />
    <article class="welcome">
    <h1>Bienvenido a Maines, donde somos lo que comemos.</h1><br>
    </article>
    <article class="img-product-with-text">
    <h3>Producimos alimentos 100% naturales, sin químicos ni conservantes. <br>
       Creemos que comer rico y saludable es posible. <br>
       Brindamos capacitación a todo aquel que quiera llevar una vida saludable.
    </h3>
    <picture>
      <img src="/images/tarta-verdura.jpeg">
    </picture>
  </article>
  </article>

  <article class="about">
    <h3>Queremos que conozcas más sobre nosotros y de como trabajamos. <br>
      Haz click <a href="/about">aquí</a> para saberlo o en el icono.</h3><a href="/about"><i class="fa-solid fa-shop"></i></a>
  </article>

  <article class="about-products">
    <h3>Para conocer más sobre todos nuestros productos <br>
       haz click <a href="/products/list">aquí</a> para verlos o en el icono.</h3><a href="/products/list"><i class="fa-solid fa-bag-shopping"></i></a>
  </article>

  <article class="contact">
    <h3>Si quieres dejarnos una sugerencia o algún comentario, <br>
       haz click <a href="/contact">aquí</a> o en el icono.</h3><a href="/contact"><i class="fa-solid fa-message"></i>
    </a>
  </article>

  <h2 class="gracias"><i class="fa-regular fa-face-grin-beam"></i> ¡Gracias por visitarnos! <i class="fa-regular fa-face-grin-beam"></i></h2>
    
    
          
                    
            
            
 
              <!-- <article class="lamina">
                <article class="lamina-cajas">
                  <i class="fas fa-truck lamina-icono"></i>
                  <p class="lamina-texto">Entregas a todo el pais</p>
                </article>
                <article class="lamina-cajas">
                    <i class="fas fa-shopping-basket lamina-icono"></i>
                    <p class="lamina-texto">Comprá con todos los medios de pago</p>
                  </article>
                    </article> -->
            </main>
            
              <%- include ('./partials/footer') %>
            
          </body>
          </html>
