
<%- include('./partials/head') %>




<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Talleres</h1>
        <section class="talleres">
            <img src="/images/img-taller.jpeg" alt="">
        <div class="info-talleres">
            <ul>
                <li>¡Estate atento a los próximos talleres! </li>
                <li>Fechas:</li>
                <li>13/04/2022</li>
                <li>24/04/2022</li>
                <li>30/04/2022</li>
            </ul>
        </div>
    </section>
    <section class="talleres-capacitacion">
        <h3>Ofrecemos talleres a cualquier persona que desee cocinar sus
            propias comidas y tambien capacitaciones de que porque se debe
            llevar una dieta saludable.
        </h3>
    </section>

    <section class="imagenes">
        <img src="/images/taller-1.jpeg" alt="">
        <br>
        <img src="/images/taller-2.jpeg" alt="">
        <br>
        <img src="/images/taller-3.jpeg" alt="">
        <br>
    </section>

    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>