<footer>
    <section class="contenedor-footer">
      <section class="logo-slogan-redes" class="caja-footer">
        <picture>
          <img src="/images/maines.png" alt="logo" class="logo" />
        </picture>
        <article class="slogan">Somos lo que comemos</article>
        
        <section class="redes-sociales">
          <a href="https://www.facebook.com/Maines-105529098679983/">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/maines.com.ar/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC-_zZ-_zZ-_zZzQ-_XKZq5g">
            <i class="fab fa-facebook-messenger"></i>
          </a>
        </section>
      </section>
      
      <section class="servicios caja-footer textos">
        <ul>
          <li>Terminos y condiciones</li>
          <li>Envios y devoluciones</li>
          <li>Política de privacidad</li>
          <li>Quiero vender Maines</li>
        </ul>
      </section>
      <section class="contacto" class="caja-footer">
        <dl>
          <p></i>Contacto</p>
          <dt class="textos"> <i class="fas fa-phone-alt textos"> </i>+ 11 1234 1234</dt>
          <dt class="textos"> <i class="fas fa-envelope textos"> </i>consultas@maines.com.ar</dt>
          <dt class="textos"> <i class="fas fa-clock textos"> </i>Lunes a viernes 09:00 a 18:00hs</dt>
          <dt class="textos"> <i class="fas fa-map-marker-alt textos"> </i>Calle falsa 123, CABA</dt>
        </dl>
      </section>
    </section>
  </footer>
  