<header>
  <div class="fila-1">
    <a href="/"><i class="fa-solid fa-bars" id="burger"></i></a>
    <div class="home-banner">
    <a href="/"> <img src="/images/maines.png" class="logo-header" /> </a>
  </div>
  <h1>¡Comidas 100% saludables y sin conservantes!</h1>
    <% if (!user) { %>
      <div class="login-register">
    <a href="/users/login"><button class="login-btn">Iniciar Sesion</button></a>
    <a href="/users/register">
      <button class="register-btn"> Registrarse</button>
    </a>
  </div>
    <% } else if (user && user.isAdmin) { %>
    <a href="/users/profile">
      <button class="userName">¡Hola <%=user.name %>!</button>
    </a>

    <a href="/users/list">
      <button class="header-users-list">All Users</button>
    </a>

    <a href="/users/logout">
      <button class="logout-button">Logout</button>
    </a>
    <% } else { %>
    <a href="/users/profile">
      <button class="userName">¡Hola <%=user.name %>!</button>
    </a>
    <a href="/users/logout">
      <button class="logout-button">Logout</button>
    </a>
    <% } %>
  </div>

  <!-- <h2 class="frase-header"> <i class="fas fa-hand-holding-usd">
</i>Aceptamos todos los medios de pago, ¡incluso cryptomonedas!</h2> -->

  <div class="fila-2"></div>
  <nav>
    <ul class="palabras-header">
      <li><a href="/products/">Productos</a></li>
      <li><a href="/about">Nosotros</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>

  <!-- <a href="#" class="hamburguer-button">
    <i class="fas fa-bars"></i>
</a> -->
</header>
