  <%- include ('../partials/head') %>
  <body>
    <%- include ('../partials/header') %>
    <header>Página en construcción</header>
    <footer><%- include ('../partials/footer') %></footer>
  </body>
</html>
