 <%- include ('../partials/head') %>
  <body>
    <header>
    <%- include ('../partials/header') %>
  </header>

    <main class="main">
      <picture class="picture">
        <a href="/"> <img src="/images/LogoMaines.svg" altclass="logo" class="logo"/></a>
      </picture>

      <form class="formInicioSesion" action="/" method="post">
        <fieldset>
          <label class="labelLogin" for="userEmail"
            >Mail registrado</label
          >
          <input
            class="inputLogin"
            type="text"
            name="userEmail"
            id="userEmail"
            required
          />
        </fieldset>

        <fieldset>
          <label class="labelLogin" for="password">Contraseña</label>
          <input
            class="inputLogin"
            type="password"
            name="password"
            id="password"
            required
          />
        </fieldset>

        <div class="olvidasteContra">
          <a href="#" target="_blank">¿Olivdaste tu contraseña?</a>
        </div>

        <button class="botonLogin" type="submit">Iniciar Sesión</button>

        <div class="crearCuenta">
          <p>¿No tenes cuenta?</p>
          <a href="/users/register">Crea una cuenta</a>
        </div>
      </form>
    </main>
    <footer>
    <%- include ('../partials/footer') %>
  </footer>
  </body>
</html>
