  <%- include ('../partials/head') %>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
        <h1>Profile</h1>
        <p><a href="/users/logout">Logout</a></p>
    <% if (locals.errors && errors.email) { %>
    <p><%= errors.email.msg %> </p>
    <% } %>
    <% if (locals.errors && errors.password) { %>
    <p><%= errors.password.msg %> </p>
    <% } %>
</body>
</html>