 <%- include ('../partials/head') %>
    

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    

    
    <main>
        <picture>
            <img src="/images/LogoMaines.svg" class="logo" />
    
        </picture>
        
            <p>Registrate para guardar tus pedidos, preferencias y hacer un seguimiento!</p>
       
        <form action='/' method="post" class="formulario-registro">
            <fieldset>
                <label class= "negrita"> Nombre y apellido</label>
                <input class ="input-formulario-registro" type="text" name='nombreApellido'>
                
            </fieldset>
            <fieldset>
                <label class= "negrita">Nombre de Usuario</label>
                <input class ="input-formulario-registro" type="text" name='nombreApellido'>
            </fieldset>
            <fieldset>
                <label class= "negrita">Email</label>
                <input class ="input-formulario-registro" type="mail" name="email">
            </fieldset>
            <fieldset>
                <label class= "negrita">Confirmar Email</label>
                <input class ="input-formulario-registro" type="mail" name="email">
            </fieldset>
            
            <fieldset>
                <label class= "negrita">Contraseña</label>
                <input class ="input-formulario-registro" type="text" name='Domicilio'>
            </fieldset>

            <fieldset>
                <label class= "negrita">Confirmar contraseña</label>
                <input class ="input-formulario-registro" type="text" name='Domicilio'>
            </fieldset>
          
                       
            
            <button class="botones botonCrearCuenta" type="submit">CREAR CUENTA</button>

            <p></a>¿Ya tenés una cuenta? <a href="/login"><b>Iniciá sesión</b></a></p>
            <button class="botones botonFacebook" type="submit">Registrarse con Google</button>
            <button class="botones botonGoogle" type="submit">Registrarse con Facebook</button>

        </main>
<footer>
        <%- include ('../partials/footer') %>
      </footer>
</body>
</html>
